html {
  font-size: 14px;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
  box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #258cfb;
}

html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 60px;
}

/*=========================================
  Feedback Question Validation
==========================================*/

.question-error {
    border: 2px solid #dc3545 !important;
    border-radius: 10px;
    background: #fff5f5;
    transition: all .3s ease;
}

.question-valid {
    border: 2px solid #198754 !important;
    border-radius: 10px;
}